input[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;

}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}

div.principal 
{
    /*background-color: rgb(138, 138, 232);*/
    background: #8A9CFF;
    border-radius: 16px;
    /*font-size: 2em;*/
    text-align: center;
    align-content: center;
    /* padding: 0.5%; */
    padding: 24px 56px;
    gap: 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    /*border-radius: 10px;*/
    /*max-width: 500px;
    box-sizing: border-box;*/
}

div.secundaria {
    display: inline-block;
    background-color: rgb(166, 166, 247);
    font-size: 1.5em;
    text-align: center;
    align-content: center;
    padding: 0.5%;
    border-radius: 10px;
    margin-top: 10px;
    width: 32.1%;
    height: fit-content;
}


body {
    background-color: #ffffff;
}

form {
    margin-top: 10px;
}

/* #f2f5fe */

.a {
  color: #000000;
  text-decoration: none;
}


.header,
.header * {
box-sizing: border-box;
}
.header {
padding: 24px 48px 24px 48px;
display: flex;
flex-direction: row;
gap: 56px;
align-items: center;
justify-content: flex-start;
flex-shrink: 0;
width: 100%;
position: relative;
}
.h2 {
color: #000000;
text-align: left;
font: 700 24px "Inter", sans-serif;
position: relative;
}
.search {
background: #f3f3f3;
border-radius: 8px;
padding: 8px 8px 8px 8px;
display: flex;
flex-direction: row;
gap: 8px;
align-items: center;
justify-content: flex-start;
flex: 1;
position: relative;
}
.seacrh-icon {
flex-shrink: 0;
position: relative;
overflow: visible;
}
.regular-12 {
color: #505050;
text-align: left;
font: 400 12px "Inter", sans-serif;
position: relative;
}
.content-header {
display: flex;
flex-direction: row;
gap: 36px;
align-items: center;
justify-content: center;
flex-shrink: 0;
position: relative;
}
.notifications {
display: flex;
flex-direction: row;
gap: 16px;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
position: relative;
}
.icon {
flex-shrink: 0;
position: relative;
overflow: visible;
}
.user {
display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
justify-content: flex-start;
flex-shrink: 0;
position: relative;
}
.user-infos {
display: flex;
flex-direction: row;
gap: 16px;
align-items: center;
justify-content: flex-start;
flex-shrink: 0;
position: relative;
}
.user-photo {
border-radius: 24px;
flex-shrink: 0;
width: 48px;
height: 48px;
position: relative;
overflow: hidden;
}
.unsplash-0zx1bdv5bny {
width: 70px;
height: 114px;
position: absolute;
left: -18px;
top: -14px;
background: url("imgs/user-image.png");
}
.user-description {
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
position: relative;
}
.h3 {
color: #000000;
text-align: left;
font: 700 16px "Inter", sans-serif;
position: relative;
}
.subtitle {
color: #000000;
text-align: left;
font: 400 12px "Inter", sans-serif;
position: relative;
}
.down-arrow {
flex-shrink: 0;
position: relative;
overflow: visible;
}
.h1 {
color: #000000;
text-align: center;
font: 700 36px "Inter", sans-serif;
position: relative;
}
.options-hotel {
display: flex;
flex-direction: row;
gap: 85px;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
position: relative;
}
.card {
background: #f3f3f3;
border-radius: 8px;
padding: 24px 36px 24px 36px;
display: flex;
flex-direction: row;
gap: 8px;
align-items: flex-end;
justify-content: flex-end;
flex-shrink: 0;
width: 355px;
height: 216px;
position: relative;
}
.icon-card {
flex-shrink: 0;
position: absolute;
left: 36px;
top: calc(50% - 84px);
overflow: visible;
}
.label-card {
background: #f3f3f3;
padding: 4px 8px 4px 8px;
display: flex;
flex-direction: row;
gap: 8px;
align-items: flex-start;
justify-content: flex-start;
flex-shrink: 0;
position: relative;
}







.div-1,
.div-1 * {
box-sizing: border-box;
}
.div-1 {
  padding: 24px 48px 24px 48px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 100%;
  position: relative;
}
.voltar {
display: flex;
flex-direction: row;
gap: 4px;
align-items: center;
justify-content: flex-start;
flex-shrink: 0;
position: relative;
}
.bloco-primario {
display: flex;
flex-direction: column;
gap: 40px;
align-items: flex-start;
justify-content: flex-start;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.bloco-secundario {
display: flex;
flex-direction: column;
gap: 32px;
align-items: flex-end;
justify-content: center;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.text-fields {
display: flex;
flex-direction: column;
gap: 40px;
align-items: flex-start;
justify-content: flex-start;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.bloco-top {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.text-field-with-label {
display: flex;
flex-direction: column;
gap: 4px;
align-items: flex-start;
justify-content: center;
flex-shrink: 0;
position: relative;
}

.text-field-with-label-bottom {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  flex-shrink: 0;
  position: relative;
}

.body-regular {
color: #000000;
text-align: left;
font: var(--body-body, 400 16px/20px "Inter", sans-serif);
position: relative;
}
.text-field {
background: #f3f3f3;
border-radius: 8px;
border: solid #505050;
border-width: 0px 0px 2px 0px;
padding: 8px 16px 8px 16px;
display: flex;
flex-direction: column;
gap: 0px;
align-items: flex-start;
justify-content: center;
flex-shrink: 0;
width: 393px;
height: 56px;
position: relative;
}

.body-text-field {
  color: #505050;
  text-align: left;
  font: var(--body-body, 400 16px/20px "Inter", sans-serif);
  position: relative;
  
}
.bloco-middle {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.bloco-bottom {
display: flex;
flex-direction: row;
gap: 20px;
align-items: center;
justify-content: flex-start;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.actions-edit {
display: flex;
flex-direction: row;
gap: 64px;
align-items: center;
justify-content: center;
flex-shrink: 0;
position: relative;
}
.body-under {
color: #000000;
text-align: left;
font: 700 18px/24px "Mulish", sans-serif;
text-decoration: underline;
position: relative;
}
.button-primario {
background: #4f6aff;
border-radius: 12px;
padding: 12px 24px 12px 24px;
display: flex;
flex-direction: row;
gap: 12px;
align-items: center;
justify-content: center;
flex-shrink: 0;
width: 393px;
position: relative;
}
.h3-button {
color: #ffffff;
text-align: left;
font: var(--button-buttonlarge, 700 18px/24px "Inter", sans-serif);
position: relative;
}



.actions-adicionar {
display: flex;
flex-direction: row;
gap: 64px;
align-items: center;
justify-content: center;
flex-shrink: 0;
position: relative;
}






.actions-lista {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.lista {
display: flex;
flex-direction: column;
gap: 0px;
align-items: flex-start;
justify-content: flex-start;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.header-lista {
background: #4f6aff;
border-radius: 8px 8px 0px 0px;
padding: 16px 16px 16px 16px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.body-bold   {
color: #ffffff;
text-align: center;
font: 700 16px "Inter", sans-serif;
position: relative;
width: 120px;
}
.item-lista {
background: #f3f3f3;
border: solid #bcbcbc;
border-width: 0px 0px 1px 0px;
padding: 16px 16px 16px 16px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-between;
align-self: stretch;
flex-shrink: 0;
position: relative;
}
.body-lista {
color: #000000;
text-align: center;
font: 600 12px "Inter", sans-serif;
position: relative;
width: 120px;
}




  
.ver-mais {
color: #000000;
text-align: center;
font: 500 12px "Inter", sans-serif;
text-decoration: underline;
position: relative;
width: 56px;
}

.text-field-bottom {
background: #f3f3f3;
border-radius: 8px;
border: solid #505050;
border-width: 0px 0px 2px 0px;
padding: 8px 16px 8px 16px;
display: flex;
flex-direction: column;
gap: 0px;
align-items: flex-start;
justify-content: center;
flex: 1;
height: 56px;
position: relative;
}

.search-lista {
  background: #f3f3f3;
  border-radius: 8px;
  padding: 8px 8px 8px 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 256px;
  position: relative;
}


.button-buscar {
  background: #4f6aff;
  border-radius: 12px;
  padding: 12px 24px 12px 24px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 256;
  position: relative;
  }